### Xcode ###
## User settings
xcuserdata/

## API Keys
APIKeys.xcconfig

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings
.DS_Store

# Ignore Archives
build/

# Ignore Pod Files
Pods/
Podfile.lock